
/*Navbar*/

.nav-background {
    width: 100%;
    height: 50px;
    margin: 0px;
    position: fixed;
    z-index: 200;
    border: 0px;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #039be5 75%);
    display: none;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    border: 0px;
    padding: 0px;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.navavatar {
    float: left;
    margin: 5px 8px;
    border: 2px solid #ffffff;
}

.navbar-default .navbar-brand {
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.navbar-default .navbar-brand:hover {
    color: #efefef;
}

.navbar-default .navbar-nav > li > a {
    font-size: 15px;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
     color: #efefef;
 }

.navbar-default .navbar-nav > li > a:focus {
    color: #efefef;
}

.navbar-default .navbar-header .recon {
    top: 25px;
    font-size: 13px;
    color: #ffffff;
}

.dropdown-menu > li > a:hover {
    color: #ffffff;
    background-color: #039be5;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    background-color: #fff;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: #039be5;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
}

.dropdown-menu {
    background-color: rgba(255,255,255,0.82);
    border-radius: 3px 3px;
}

/*Fin Navbar*/




/*Carousel*/
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .fa-angle-double-left, .carousel-control .fa-angle-double-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-control.right,  .carousel-control.left{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
}

.carousel-h1 {
    font-size: 55px;
    text-shadow: 0px 0px 15px #000000;
}

.carousel-h3 {
    padding-bottom: 23%;
}

.carousel-hr {
    max-width: 550px;
}

/*Fin de Carousel*/





/*Parallax Seccion*/
section {
    min-height:600px;
    padding-top:30px;
    padding-bottom:10px;
    overflow:auto;
    margin-top: 0px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 0) 0%);
}

.bg-1 {
    background: url('../img/parallax/estudiosdark.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:auto;
    margin-top: 0px;
}

.bg-2 {
    background: url('../img/parallax/desarrollo.jpg') no-repeat top center fixed;
    color:#fff;
    background-size:auto;
}

.bg-3 {
    background: url('../img/parallax/footerbluedark.jpg') no-repeat top center fixed;
    color:#fff;
    background-size:auto;
}

.footer-section {
    min-height: 450px;
}

/*Fin de Parallax Seccion*/







/*Seccion SOBRE MI*/

.present {
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 16px;
    color: #4a4a4a;
    transition: all 0.5s ease-in-out;
}

.tag {
    font-size: 37px;
    font-weight: 600;
    color: rgba(208, 208, 208, 0.44);
}

.foto-row {
    margin-top: 14px;
    margin-bottom: 40px;
    /*border: 1px solid #039be5;*/
    /*height: 400px;*/
}

.tit-hobby {
    font-size: 22px;
}

.soundcloud {
    color: #f50;
}

.soundcloud:hover, .soundcloud:focus{
    color: #963d00;
}

.badge {
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 7px;
}

/*Fin de Seccion SOBRE MI*/






/*Seccion ESTUDIOS y DESARROLLO y CONOCIMIENTOS*/

.study {
    min-height: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

.study:hover {
    background-color: rgba(255, 255, 255, 0.95);
    border: 3px solid #039be5;
}

.invest {
    min-height: 390px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
}

.invest-semantic:hover {
    background-color: rgba(0, 126, 119, 1);
    border: 3px solid #ffffff;
}

.invest-firebase:hover {
    background-color: rgb(0, 71, 141);
    /*background-color: rgba(3, 155, 229, 0.93);*/
    border: 3px solid #ffffff;
}

.invest-swift:hover {
    background-color: #b95d30;
    /*background-color: rgba(0, 97, 172, 1);*/
    /*background-color: rgba(3, 155, 229, 0.93);*/
    border: 3px solid #ffffff;
}

.img-border {
    border-radius: 20px;
}

.invest-logo {
    padding: 20px;
}

.invest-title {
    padding-bottom: 10px;
}

.invest-coment {
    padding: 15px 35px;
}




.know-box {
    margin-top: 20px;
    margin-bottom: 30px;
    border: 3px solid #039be5;
    /*border: 3px solid #cccccc;*/
    border-radius: 4px;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}

/*.know-box:hover {*/
    /*border: 3px solid #039be5;*/
/*}*/

/* Fin Seccion VARIOS*/







/*Contenedores*/

.homepage {
    padding-top: 30px;
    min-height: 600px;
}

/*Fin de contenedores*/







/*Footer*/

#footer {
    min-height: 60px;
    background-color:#585858;
    padding-top:20px;
    padding-bottom:15px;
}

#footer a {
    color: #252b34;
}

.list-footer {
    border-left: 1px solid rgba(255, 255, 255, 0.37);
}

.list-footer a {
    text-decoration: none;
    color: #aaaaaa;
}

.list-footer a:hover {
    color: #ffffff;
    text-shadow: 0px 0px 3px #ffffff;
}

.footerbar-color {
    width: 100%;
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
    background: linear-gradient(141deg, #039be5 0%, #1fc8db 51%, #0fb8ad 75%);
    opacity: 1;
}

.foot-link {
    font-size: 16px;
    text-align: right;
    margin-top: 3px;
    transition: all 0.2s ease-in-out;
}

.face i {
    padding: 1px 2px;
}


.twitter:hover {
    background-color: #00aced;
    color: #ffffff;
}

.instagram:hover {
    background-color: #bc2a8d;
    color: #ffffff;
}

.github:hover {
    background-color: #24292e;
    color: #ffffff;
}

.linkedin:hover {
    background-color: #007bb6;
    color: #ffffff;
}

.slack:hover {
    background-color: #78D4B6;
    color: #ffffff;
}

.face:hover {
    background-color: #0061ac;
    color: #ffffff;
}


.footer-bar {
    font-size: 17px;
}

.separe {
    margin-top: 18px;
    margin-bottom: 30px;
}

.popover-title {
    background-color: #0061ac;
}

.popover {
    background-color: rgb(232, 230, 232);
}

.fa-times {
    padding: 3px 0px;
}


/*Boton Erease que limpia el formulario*/

#enviar {
    z-index: 10;
}

.erease {
    display: none;
    border-radius: 50%;
    /*margin-left: -62px;*/
    margin-left: 12px;
    /*z-index: -99999;*/
}

.rollin {
    animation-name: getout;
    animation-duration: 2s;
}

.rollout {
    animation-name: getin;
    animation-duration: 2s;
}

@keyframes getout {

    0% {
        transform: rotate(0deg);
        left: 0px;
    }

    25% {
        transform: rotate(20deg);
        left: 10px;
    }

    50% {
        transform: rotate(40deg);
        left: 25px;
    }

    60% {
        transform: rotate(80deg);
        left: 25px;
    }

    70% {
        transform: rotate(110deg);
        left: 20px;
    }

    100% {
        transform: rotate(180deg);
        left: 10px;
    }

}

/*Fin del Boton Erease*/


/*Boton Slack*/

.fa-slack {
    padding-top: 4px;
}

.modal-header {
    background-color: #78D4B6;
    border-radius: 5px 5px 0px 0px;
}

.modal-body {
    background-color: #039be5;
}

.form-control .form-slack {
    color: #641864;
}


/*Fin Boton Slack*/

/*Fin del Footer*/



/*Boton subir arriba*/

.top-button {
    display: none;
}

.btn-rolltop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 200;
    border: 2px solid #636163;
    color: #636163;
    display: inline-block;
    padding: 9px 10px;
    margin-bottom: 0;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.btn-rolltop:hover {
    color: #636163;
    /*background-color: #03b1ff;*/
}

.btn-rolltop:focus {
    color: #636163;
}

/*Fin del boton*/




/*Contacto*/

.form-control {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.20);
    color: #ffffff;
    transition: all 0.4s ease-in-out;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 1);
    color: #5c5c5c;
}

.help-block {
    margin-top: 3px;
    margin-bottom: 1px;
}

/*Fin de contacto*/







/*Galeria de Conocimientos*/

ul.galeria, ul.galeria > li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.galeria > li {
    /*outline: 1px #efefef solid;*/
    float: left;
}

ul.galeria > li img {
    transition: all 0.7s ease-in-out;
    height: 100%;
    width: 100%;
}

ul.galeria > li img:hover {
    border: 1px solid #18befb;
    /*opacity: 0.95;*/
    /*border-radius: 8px;*/
    /*box-shadow: 0px 0px 7px #3f383e;*/
    /*-webkit-transform:scale(1.25);*/
    /*-moz-transform:scale(1.25);*/
    /*-ms-transform:scale(1.25);*/
    /*-o-transform:scale(1.25);*/
    /*transform:scale(1.25);*/
}

@media(min-width:1200px){
    ul.galeria > li {
        width: 12.5%;
    }
}

@media(max-width:1200px){
    ul.galeria > li {
        width: 12.5%;
    }
}

@media(max-width:991px){
    ul.galeria > li {
        /*width: 14.28571428571429%;*/
        width: 16.66666666666667%;
    }
}
@media(max-width:760px){
    ul.galeria > li {
        width: 25%;
    }
}

/*Fin de la Galeria*/







/*Portfolio*/

.ch-grid {
    margin: 20px 0px;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;

}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px 20px 20px 20px;
    vertical-align: top;
}

/*Efecto tri*/

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.ch-thumb {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5);
    transform-origin: 95% 40%;
    transition: all 0.3s ease-in-out;
}

.ch-thumb:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    top: 40%;
    left: 95%;
    margin: -4px 0 0 -4px;
    background: radial-gradient(ellipse at center, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    box-shadow: 0 0 1px rgba(255,255,255,0.9);
}

.ch-img-1 {
    background-image: url(../img/portfolio/qplay.fw.png);
    z-index: 12;
}

.ch-img-2 {
    background-image: url(../img/portfolio/movief.fw.png);
    z-index: 11;
}

.ch-img-3 {
    background-image: url(../img/portfolio/iGrowup.fw.png);
    z-index: 10;
}

.ch-img-4 {
    background-image: url(../img/portfolio/ryv.fw.png);
    z-index: 9;
}

.ch-info {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    /*background: #039be5; !*url(../images/noise.png);*!*/
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #039be5 75%);
    box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 0 60px;
    padding: 42px 0 0 0;
    height: 85px;
    /*font-family: 'Open Sans', Arial, sans-serif;*/
    text-shadow:
            0 0 1px #fff,
            0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
    display: block;
    color: #333;
    width: 80px;
    height: 80px;
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 24px;
    margin: 7px auto 0;
    font-family: 'Open Sans', Arial, sans-serif;
    opacity: 0;
    transition:
            transform 0.3s ease-in-out 0.2s,
            opacity 0.3s ease-in-out 0.2s,
            background 0.2s linear 0s;
    transform: translateX(60px) rotate(90deg);
}

.ch-info p a:hover {
    background: rgba(255,255,255,0.5);
}

.ch-item:hover .ch-thumb {
    box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5), 0 1px 3px rgba(0,0,0,0.2);
    transform: rotate(-110deg);
}
.ch-item:hover .ch-info p a{
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
}
/*Fin de Efecto tri*/

.portfolio-coment {
    margin-top: 35px;
    margin-bottom: 5px;
    padding-bottom: 20px;
    vertical-align: bottom;
}

/*Fin de Portfolio*/


/*Slider de Certificaciones*/

.slider {
    position: relative;
    overflow: hidden;
    margin: 5px auto 0 auto;
    border: 5px solid #18befb;
    border-radius: 8px;
    z-index: 500;
}

.slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

.slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0px;
    padding: 0;
    width: 900px;
    height: 637px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
}

a.control_prev1, a.control_next1 {
    position: absolute;
    top: 45%;
    z-index: 999;
    display: block;
    padding: 12px;
    width: auto;
    height: auto;
    background-color: rgb(24, 190, 251);
    color: #fff;
    text-decoration: none;
    opacity: 0.85;
    cursor: pointer;
}

a.control_prev1:hover, a.control_next1:hover,
a.control_prev1:focus, a.control_next1:focus {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev1 {
    border-radius: 0 50% 50% 0;
}

a.control_next1 {
    right: 0;
    border-radius: 50% 0 0 50%;
}


a.control_prev2, a.control_next2 {
    position: absolute;
    top: 45%;
    z-index: 999;
    display: block;
    padding: 12px;
    width: auto;
    height: auto;
    background-color: rgb(24, 190, 251);
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev2:hover, a.control_next2:hover,
a.control_prev2:focus, a.control_next2:focus {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev2 {
    border-radius: 0 50% 50% 0;
}

a.control_next2 {
    right: 0;
    border-radius: 50% 0 0 50%;
}

.modal {
    margin-top: 50px;
}

/*Fin de Slider de Certificaiones*/