/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

    .ch-grid li {
        margin: 20px 20px 180px 20px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .ch-grid li {
        margin: 20px 20px 180px 20px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .navbar {
        background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #039be5 75%);
    }

    .particle-h1 {
        font-size: 20px;
    }
    .particle-p {
        font-size: 15px;
    }
    .particle-hr {
        max-width: 140px;
    }
    .partcontainer {
        min-height: 470px;
    }
    #particles-js {
        height: 470px;
    }
    .carucel-tit {
        margin-top: 150px;
        padding-right: 20px;
    }

    .presentacion {
        margin-bottom: 30px;
    }

    .homepage {
        padding-top: 10px;
    }
    section {
        padding-top: 10px;
    }

    .tag {
        font-size: 28px;
    }

    h1 {
        font-size: 28px;
    }

    .study {
        min-height: 140px;
    }

    .footer-section {
        min-height: 950px;
    }

    .contact {
        margin-bottom: 40px;
    }

    .bg-1 {
        background-image: none;
        background: radial-gradient(circle, rgba(36, 56, 134, 1) 0%, rgba(17, 23, 69, 1) 100%);
    }

    .bg-2 {
        background-image: none;
        background: radial-gradient(circle, rgba(36, 56, 134, 1) 0%, rgba(17, 23, 69, 1) 100%);
    }

    .bg-3 {
        background-image: none;
        /*background-color: rgba(17, 23, 69, 1) 100%;*/
        background: radial-gradient(circle, rgba(36, 56, 134, 1) 0%, rgba(17, 23, 69, 1) 100%);
    }

    .ch-grid li {
        margin: 20px 20px 180px 20px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .navbar {
        background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #039be5 75%);
    }

    .particle-h1 {
        font-size: 20px;
    }
    .particle-p {
        font-size: 15px;
    }
    .particle-hr {
        max-width: 140px;
    }
    .partcontainer {
        min-height: 470px;
    }
    #particles-js {
        height: 470px;
    }
    .carucel-tit {
        margin-top: 150px;
        padding-right: 20px;
    }

    .presentacion {
        margin-bottom: 30px;
    }

    .homepage {
        padding-top: 10px;
    }
    section {
        padding-top: 10px;
    }

    .tag {
        font-size: 28px;
    }

    h1 {
        font-size: 28px;
    }

    .study {
        min-height: 140px;
    }

    .footer-section {
        min-height: 950px;
    }

    .contact {
        margin-bottom: 40px;
    }

    .bg-1 {
        background-image: none;
        /*background-color: #039be5;*/
        background: radial-gradient(circle, rgba(36, 56, 134, 1) 0%, rgba(17, 23, 69, 1) 100%);
    }

    .bg-2 {
        background-image: none;
        background: radial-gradient(circle, rgba(36, 56, 134, 1) 0%, rgba(17, 23, 69, 1) 100%);
    }

    .bg-3 {
        background-image: none;
        background: radial-gradient(circle, rgba(36, 56, 134, 1) 0%, rgba(17, 23, 69, 1) 100%);
    }

    .ch-grid li {
        margin: 20px 20px 180px 20px;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

    .navbar {
        background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #039be5 75%);
    }
    .particle-h1 {
        font-size: 20px;
    }
    .particle-p {
        font-size: 15px;
    }
    .particle-hr {
        max-width: 140px;
    }
    .partcontainer {
        min-height: 470px;
    }
    #particles-js {
        height: 470px;
    }
    .carucel-tit {
        margin-top: 150px;
        padding-right: 20px;
    }

    .presentacion {
        margin-bottom: 30px;
    }

    .homepage {
        padding-top: 10px;
    }
    section {
        padding-top: 10px;
    }

    .tag {
        font-size: 28px;
    }

    h1 {
        font-size: 28px;
    }

    .study {
        min-height: 140px;
    }

    .footer-section {
        min-height: 950px;
    }

    .contact {
        margin-bottom: 40px;
    }

    .bg-1 {
        background-image: none;
        background: radial-gradient(circle, rgba(36, 56, 134, 1) 0%, rgba(17, 23, 69, 1) 100%);
    }

    .bg-2 {
        background-image: none;
        background: radial-gradient(circle, rgba(36, 56, 134, 1) 0%, rgba(17, 23, 69, 1) 100%);
    }

    .bg-3 {
        background-image: none;
        background: radial-gradient(circle, rgba(36, 56, 134, 1) 0%, rgba(17, 23, 69, 1) 100%);
    }

    .ch-grid li {
        margin: 20px 20px 180px 20px;
    }


}




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
/*@media only screen and (min-width : 320px) {*/

/*}*/

/* Extra Small Devices, Phones */
/*@media only screen and (min-width : 480px) {*/

/*}*/

/* Small Devices, Tablets */
/*@media only screen and (min-width : 768px) {*/

/*}*/

/* Medium Devices, Desktops */
/*@media only screen and (min-width : 992px) {*/

/*}*/

/* Large Devices, Wide Screens */
/*@media only screen and (min-width : 1200px) {*/

/*}*/
